</main>

<div class="contenedor-micro-mascota">
    <img class="micro-mascota pixeleado" src="imagenes_de_mascotas/6.gif" alt="">
</div>

<footer class="pie-principal">
    <hr>
    <p>&copy; 2025 Pet-Chan. Todos los derechos reservados.</p>
    <br>
</footer>

</body>
</html>