<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="styles/minijuego/menuvideojuegos.css">

<div id="contenedor-juego">
    <h1>Menú de Minijuegos</h1>

    <div class="seccion-del_juego">
        <div class="boton-juego">
            <button onclick="location.href='/min1'">¿Simón dice?</button>
        </div>

        <div class="boton-juego">
            <button onclick="location.href='/min2'">Batery Mood</button>
        </div>

        <div class="boton-juego">
            <button onclick="location.href='/min3'">Dice Game!</button>
        </div>

        <div class="boton-juego">
            <button onclick="location.href='/min4'">Spaceman</button>
        </div>

        <div class="boton-juego">
            <button onclick="location.href='/min5'">TetPetrio</button>
        </div>

        <div class="boton-juego">
            <button onclick="location.href='/min6'">Pac-Pet</button>
        </div>

        <div class="boton-juego">
            <button onclick="location.href='/min7'">Dungeon</button>
        </div>

        <div class="boton-juego">
            <button onclick="location.href='/min8'">Artística</button>
        </div>

        <div class="boton-juego">
            <button onclick="location.href='/min9'">ChikChiks</button>
        </div>

        <div class="boton-juego">
            <button onclick="location.href='/min10'">Gopet</button>
        </div>

    </div>
</div>

<%- include("partials/footer.ejs") %>