<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="styles/minijuegos.css">

<div id="contenedor-juego">
    <h1 style="text-align: left;">Juego: nombre del juego</h1>

    <div class="seccion-del_juego">

    </div>

    <p style="text-align: right;">✧ Puntos ganados: <span>350</span></p>
</div>


<script src="scripts/minijuegos.js"></script>

<%- include("partials/footer.ejs") %>