<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Rajdhani:700" rel="stylesheet" />
    <link rel="stylesheet" href="styles/minijuego/minijuego6.css">

  </head>
  <body>
    <div id="pacman-container">
        <div class="pixel-corner corner-tl"></div>
        <div class="pixel-corner corner-tr"></div>
        <div class="pixel-corner corner-bl"></div>
        <div class="pixel-corner corner-br"></div>
        <div id="shim"></div>


        <p>Guía a tu mascota por el laberinto y recoge golosinas</p>
        <div class="instructions">
            Presiona <span>N</span> para iniciar un nuevo juego • <span>Teclas de flecha</span> para moverte • <span>S</span> para activar/desactivar sonido
        </div>
        <div id="pacman"></div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="scripts/minijuegos/minijuego6.js"></script>

  </body>
</html> 


