<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/minijuego/minijuego9.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
</head>
<body>
    <div id="info">Granja de Gallinas 3D<br>Las gallinas se mueven aleatoriamente por el campo<br>Presiona el bot&#xf3;n para alimentar a las gallinas<br>&#xa1;Las gallinas bien alimentadas se transforman en dinosaurios!</div>
    <div id="chickenStats"></div>
    <div id="scene"></div>
    <button id="feedButton">Poner Comida</button>

    <script src="scripts/minijuegos/minijuego9.js"></script>
</body>
</html>