<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Rajdhani:700" rel="stylesheet" />
    <link rel="stylesheet" href="styles/minijuego/minijuego3.css">

  </head>
  <body>
    <div class="container">
      <h2>Refresh Me</h2>
      
      <div class="dice-container">
        <div class="dice">
          <p>Player 1</p>
          <div class="empty-dice" id="dice1"></div>
          <img class="img1" src="archivos_de_minijuegos/images/dice6.png" style="display: none;" />
        </div>
        
        <div class="dice">
          <p>Player 2</p>
          <div class="empty-dice" id="dice2"></div>
          <img class="img2" src="archivos_de_minijuegos/images/dice6.png" style="display: none;" />
        </div>
      </div>
      
      <div class="button-container">
        <button id="roll-button">Roll Dice</button>
        <button id="reset-button">Reset Game</button>
      </div>
    </div>
    <script src="scripts/minijuegos/minijuego3.js"></script>

  </body>
</html> 